@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto');

@media screen {

body {
    background-color: #ffffff;
}

article {
    margin: 1.5rem 1.5rem 5.5rem 1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: 3px dotted #cdcdcd;
    border-radius: 4rem;
    box-sizing: content-box;
}

ul > li {
    font-size: 2rem;
}

p.motivation {
    font-family: "Roboto", sans-serif;
}

p.motivation:nth-child(odd) {
    margin-left: 1.5rem;
    margin-left: 0rem;
    color: #555555
}

p.motivation:nth-child(even) {
    margin-right: 1.5rem;
    margin-right: 0rem;
    color: #999999
}

p#table-preface {
    font-size: 2rem;
}


table {
    border-collapse: collapse;
    float: left;
    margin-right: 3rem;
    background-color: rgb(248, 248, 206);
}

th {
    text-align: left;
}

table, th, td {
    border: 2px solid sandybrown;
    padding: 1rem;
}

h1.motivation {
    font-size: 3rem;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    color: rgb(55, 101, 201);
}

h2.motivation {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(99, 133, 206);
}

h1 + img {
    border-radius: 3rem;
}

li li {
    list-style-type: circle;
    
}

footer {
     background: no-repeat url("./mexico-earthquake.jpg");
     background-size: cover;
     background-attachment: fixed;
     height: 50px;
     color: #ffffff;
     font-weight: 700;
     font-family: sans-serif;
     font-size: 1.15re;
     position: fixed;
     bottom: 0;
     right: 0;
     width: 100%;
     border: 3px solid rgb(255, 255, 255);
     display: flex;
}

footer div {
    margin: 0 auto;
    align-content: center;
}

footer a, a:visited {
    color: orange;
}

footer a:hover {
    text-decoration: none;
}

x-product {
    display: inline-block;
    float: left;
    margin: 0.5em;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    font-family: Helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  x-product::slotted(.product-img) {
    cursor: pointer;
    background: #FFF;
    margin: 0.5em;
  }
  
  x-product::slotted(.product-name) {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #08C;
    border-top: 1px solid #EEE;
    font-weight: bold;
    padding: 0.75em 0;
  }

img {
    max-width: 70vw;
}

}