body {
    background-color: #ffffff;
}

ul > li {
    font-size: 2rem;
}

p.motivation {
    font-family: sans-serif;
}

p#table-preface {
    font-size: 2rem;
}

h1.motivation {
    font-size: 3rem;
}

h1 + img {
    border-radius: 3rem;
}

li li {
    list-style-type: circle;
}